%nord {
    /* Polar Night */
    --nord0: #2E3440;
    --nord0a: #292F3A; // bg-chat for dark
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    /* Snow Storm */
    --nord4a: #6A7079; // color-lighter for dark
    --nord4b: #9BA6B5; // color-lighter for light 
    --nord4c: #D1D7E2;  // bg-userlist--hover for light
    --nord4: #D8DEE9;  // color
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    /* Frost */
    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    /* Aurora */
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
}
