.chatheader {
    // height of the whole chatheader
    height: 3.5rem;
    // put leftside to the left and right to right
    display: flex;
    align-items: center;
    justify-content: space-between;
    // small padding left and right
    padding: 0 1rem;
    font-size: 1.5rem;
}

.chatheader__leftside {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatheader__leftside__avatar {
    height: 40px;
    width: 40px;
    border-radius: 20%;
    margin-right: .5rem;
}

.chatheader__leftside__at {
    height: 1rem;
    width: 1rem;
    position: relative;
    bottom: 0.3rem;
    // margin-right: 0.2rem;
}

.chatheader__leftside__username {
    margin-left: 0.8rem;
}

.chatheader__rightside{
    display: flex;
}

%btnproperties {
    cursor: pointer;
    margin: 0 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    stroke: var(--color);
    &:hover {
        stroke: var(--icon--hover);
        transition: stroke .2s ease-in;
    }
}

.chatheader__rightside__btn-video {
    @extend %btnproperties;
}

.chatheader__rightside__btn-voice {
    @extend %btnproperties;
}

.chatheader__rightside__btn-search {
    @extend %btnproperties;
}
