.chat {
    font-family: interface;
    backdrop-filter: blur(5px);
    max-height: 100%;
    overflow-y: scroll;
    padding: 0 0.5rem;
    margin: 0 5px;

    background-color: var(--bg-chat);
    border-radius: 5px 5px 0 0;

    flex-grow: 1; // let it take the rest of the available screen
    // for some reason css is weird af and
    // without flex-basis overflow scroll won't work
    // took me only 2h to figuer this out
    // I'm literally done with CSS and want to anbandon
    // everything that deals with a DOM in any way...
    flex-basis: 100px; // this acts like a min height
}

