.sendfield {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    height: 4.4rem;
}

.sendfield__textarea {
    resize: none;
    font-family: interface;
    color: var(--color);
    font-size: 1rem;
    width: 100%;
    max-height: 80%;
    min-height: 80%;
    padding: 1rem;
    background-color: var(--bg-chat);
    border: none;
    border-radius: 0 0 0 5px;
    &:disabled {
	filter: opacity(0.5);
	transition: filter .2s ease-in;
    }
    &:focus {
        outline: none;
    }
}

.sendfield__sendbutton {
    right: 0.5rem;
    border: none;
    background: var(--bg-chat);
    padding: .5rem;
    margin-left: .4rem;
    border-radius: 0 0 5px 0;
    height: 80%;
    cursor: pointer;

    svg {
	stroke: var(--color-lighter);
    }

    &:disabled {
	cursor: default;
	filter: opacity(0.5);
	transition: filter .2s ease-in;
    }

    &:hover {
	svg {
	    transition: stroke .2s ease-in;
	    stroke: var(--color);
	}
    }
}
