.contextmenu {
    z-index: 1000;
    position: absolute;
    font-family: interface;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: #18191c;
    // backdrop-filter: blur(2px);
    color: white;
    animation: contextmenu 0.05s ease-in;
}

@keyframes contextmenu {
    from {
	transform: scale(0.7);
	opacity: 0.5;
    }
    to {
	transform: scale(1);
	opacity: 1;
    }
}
