.callmodal {
    // background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: 100%;
    height: 500px;
    width: 300px;
    // border: 1px solid 


    position: relative;
    color: var(--color);
    background-color: var(--bg-block);
    border: 1px solid var(--bg);
    border-radius: 10px;
    padding: 1rem;
    // font-family: interface;
    animation: modal-grow .2s;
}

.callmodal__avatar {
    width: 200px;
    height: 200px;
    border-radius: var(--radius);
    border: 3px solid var(--aurora--blue);
}

.callmodal__btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    // position: absolute;
    // bottom: 1rem;
}
