.screensharemodal__gridview {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.screensharemodal__gridview__item {
    cursor: pointer;
}

.screensharemodal__gridview__item__thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 220px;
    width: 220px;
    border-radius: var(--radius);
    border: 3px solid none;
    background-color: black;

    img {
	max-height: 100%;
	max-width: 100%;
    }
}

.screensharemodal__gridview__item__thumbnail--selected {
    @extend .screensharemodal__gridview__item__thumbnail;
    border: 3px solid var(--aurora--blue);
}

.screensharemodal__gridview__item__title {
    word-break: break-all;
    text-align: center;
}

