.closebutton {
    position: absolute;
    left: 1rem;
    top: 1rem;
    stroke-width: 1px;
    stroke: var(--color-lighter);
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.3rem;
    cursor: pointer;

    &:hover {
	background-color: rgba(var(--aurora--red--rgb), 0.2);
	stroke: var(--aurora--red);
	transition: background-color .2s ease-in, stroke .2s ease-in;
    }
}
