.babbeln {
    height: 100vh;
    width: 100vw;

    // display: grid;
    // grid-template-columns: 300px auto;
    display: flex;
    

    color: var(--color);
    background-color: var(--bg);
    overflow: hidden;
}
