.notifi {
    z-index: 1000;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--aurora--blue);
    border-radius: 5px;
    color: var(--aurora-color);
    font-family: interface;
    font-size: 1em;
    padding: 20px;

    %notification-svg {
	position: relative;
	top: 5px;
	margin-right: 10px;
	height: 20px;
	width: 20px;
	stroke: var(--aurora-color);
    }

    .info-svg {
        @extend %notification-svg;
    }
    .error-svg {
        @extend %notification-svg;
    }
    .success-svg {
        @extend %notification-svg;
    }
}

.notifi--info {
    @extend .notifi;
}

.notifi--success {
    @extend .notifi;
    background-color: var(--aurora--green);
    stroke: var(--aurora-color);
    color: var(--aurora-color);
}

.notifi--error {
    @extend .notifi;
    background-color: var(--aurora--red);
    stroke: var(--aurora-color);
    color: var(--aurora-color);
}
