@use "../../sass/props/block";

.friends {
    @extend %block-element;
    display: grid;
    grid-template-rows: 4.5rem auto;
    padding: 0.7rem;

    main {
	overflow-y: scroll;
    }
}

.friends__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.friends__header__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.friends__header__title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
    svg {
        height: 30px;
        width: 30px;
        margin: 0 0.5rem
    }
}

.friends__content {
    overflow-y: scroll;
    background-color: var(--bg-chat);
    border-radius: calc(var(--radius) /2);
    padding: 1rem;
}
