.post__content__gallery {
    display: flex;
    border-radius: var(--radius);
    height: 400px;

    .post__content__gallery__img {
	flex-basis: 1;
	flex-grow: 1;
	background-size: cover;
	cursor: pointer;
	margin-right: 1rem;

	&:hover {
	    filter: brightness(0.8);
	    transition: filter .2s ease-in;
	    .closebutton {
		display: inline-block;
	    }
	}

	&:first-child {
            border-radius: calc(var(--radius) /2) 0  0 calc(var(--radius) /2);
	}
	&:last-child {
            border-radius: 0 calc(var(--radius) /2) calc(var(--radius) /2) 0;
	    margin-right: 0;
	}
	&:only-child {
	    border-radius: calc(var(--radius) /2);
	}

	.closebutton {
	    display: none;
	}

    }

}
