.post__comments {
    
}

.post__comments__showbutton {
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--aurora--blue);
    cursor: pointer;
    text-decoration: underline;
    margin: 1rem 0 1rem 0;

    svg {
	position: relative;
	top: 0.3rem;
	width: 1rem;
    }
}

.post__comments__list {
    list-style: none;
}

.post__comments__list__comment {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.post__comments__list__comment__author {
    font-weight: 800;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
}

.post__comments__list__comment__date {
    color: var(--color-lighter);
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.post__comments__list__comment__content {
    font-family: interface;
    padding: 1rem;
    background-color: var(--bg-block);
    border-radius: var(--radius);
    width: fit-content;
}

