.post {
    // background-color: var(--bg-block);
    padding: .5rem;
    margin: .5rem;
    // border-radius: var(--radius);
    // border-bottom: 2px solid var(--color-lighter);
    font-size: 1rem;
    position: relative;
}


