.post__meatball {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;

    .meatball-svg {
	stroke: var(--color-lighter);
	&:hover {
	    stroke: var(--color);
	    transition: stroke .2s ease-in;
	}
    }
}

.post__meatball__menu {
    position: absolute;
    top: 0;
    right: 1.5rem;
    background-color: rgba(var(--dialog-bg));
    backdrop-filter: blur(2px);
    padding: 0.2rem;
    list-style: none;
    border-radius: calc(var(--radius) /2);
}

.post__meatball__menu__item {
    display: flex;
    align-items: center;
    color: var(--dialog-color);
    padding: 0.5rem;
    border-radius: calc(var(--radius) /2);

    &:hover {
	background-color: var(--dialog-bg--hover);
	transition: background-color .1s ease-in;
    }

    svg {
	margin-right: 0.5rem;
	height: 1.2rem;
    }
}

.post__meatball__menu__item--red {
    color: var(--aurora--red);
    stroke: var(--aurora--red);
}

