.callwindow__controls {
    position: absolute;
    bottom: 0.5rem;
    // background-color: tomato;
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 4rem;
    width: 100%;
}

/* Show & Hide Controls */
.callwindow__controls--show {
    // display: flex;
}

.callwindow__controls--hide {
    display: none;
}



/* All the different buttons of Controls */
.callwindow__controls__default {
    unset: all;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 4rem;
    border-radius: var(--radius);
    border: none;
    background-color: black;
    color: var(--aurora-color);
    cursor: pointer;
    opacity: 0.8;

    &:focus {
	outline: none;
    }

    svg {
	height: 25px;
	width: 25px;
	margin-bottom: 0.1rem;
    }

    &:hover {
	opacity: 1;
	transition: opacity .1s ease-in;
    }

    &:disabled {
	filter: grayscale(0.5);
	transition: filter .2s ease-in;
	cursor: default;
    }
}

.callwindow__controls__default--active {
    @extend .callwindow__controls__default;
    background-color: var(--aurora--blue);
}

.callwindow__controls__red {
    @extend .callwindow__controls__default;
    background-color: var(--aurora--red);
    color: var(--aurora-color);
}

.callwindow__controls__fullscreen {
    unset: all;
    border: none;
    background-color: transparent;

    position: absolute;
    right: 0.5rem;
    bottom: 0rem;
    color: var(--nord4);
    cursor: pointer;

    &:focus {
	outline: none;
    }
}
