.userlist {
    /* list of useritems */
    height: 100%;
}

.useritem {
    /* list item inside a userlist */
    /* from item */
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0.7rem;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--color-lighter);

    &:hover {
        color: var(--color);
        background-color: var(--bg-userlist--hover);
        transition: background-color .2s ease-in, color .2s ease-in;
        cursor: pointer;

	.useritem__actions__red {
	    opacity: 1;
	}
    }
}

.useritem--active {
    background-color: var(--bg-userlist--active);
    color: var(--color);
}

.useritem--always-show-actions {
    .useritem__actions__red {
	opacity: 1;
    }
}

/* --- Userprofile --- */
.useritem__icon {
    /* can be img or svg */
    /* from avatar */
    border-radius: 20%;
    height: 40px;
    width: 40px;
}

.useritem__icon--blocked {
    filter: grayscale(1);
}

/* --- Username --- */
.useritem__name {
    /* username or label of the button */
    margin: 0 1rem;
}

/* --- Actions (aka. Accept, Decline, Pending ...) --- */
.useritem__actions {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1rem;

    svg {
	padding: .3rem;
    }
}

.useritem__actions__red {
    opacity: 0;
    stroke-width: 1px;
    stroke: var(--color-lighter);
    transition: opacity .2s ease-in, background-color .2s ease-in, stroke .2s ease-in;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;

    &:not(&:nth-child(1)), .tooltip:not(&:nth-child(1)){
	margin-left: 0.5rem;
    }

    &:hover {
	background-color: rgba(var(--aurora--red--rgb), 0.2);
	stroke: var(--aurora--red)
    }
}

.useritem__actions__green {
    @extend .useritem__actions__red;
    &:hover {
	background-color: rgba(var(--aurora--green--rgb), 0.2);
	stroke: var(--aurora--green);
    }
}

.useritem__actions__placeholder {
    /* If there is no buttons like cross or checkmark then there will be a placeholder text */
    right: 1rem;
}

