.premiumpreview {
    font-family: hybaspace;
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // background-image: url("../../../assets/svg/moon.svg");
    // background-size: cover;
    // background-position: center;
    background-color: var(--bg-block--highlight); 
    color: var(--color);
    font-size: 5rem;
    border-radius: var(--radius);
    height: 24rem;
    cursor: pointer;
    text-align: center;

    &:hover {
	filter: brightness(0.95);
	transition: filter .2s ease-in;
    }
}

.premiumpreview__innerText {
    z-index: 3;
}

.premiumpreview__lottie-astronaut {
    z-index: 2;
    position: absolute;
    right: 50rem;
}
