.livestreamlayout {
    padding: 1rem;
    position: relative;
    height: 100%;
    width: 100%;
}

.livestreamlayout__stream {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}

.livestreamlayout__stream__bgimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
}

.livestreamlayout__speaker {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 250px;
    max-height: 250px;

    background-color: black;
    border: 3px solid black;
    border-radius: var(--radius);
}

.livestreamlayout__speaker--minimized {
    @extend .livestreamlayout__speaker;
    opacity: 0.5;
    /* make the empty div transparent */
    border: 3px solid transparent;
    background-color: transparent;

    &:hover {
	opacity: 1;
	transition: opacity .2s ease-in;
    }
}

.livestreamlayout__speaker__badge {
    z-index: 1;
    position: absolute;
    min-width: 100%;
    height: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: var(--radius);
    cursor: pointer;
}

.livestreamlayout__speaker__badge__name {
    color: var(--aurora--blue);
    font-size: 1rem;
}

.livestreamlayout__speaker__badge__minmax {
    height: 1rem;
    width: 1rem;
    stroke: white;
}

.livestreamlayout__speaker--hide {
    @extend .livestreamlayout__speaker;
    display: none;
}

.livestreamlayout__speaker--full {
    width: 100%;
    height: 100%;

    background-color: black;
    border: 3px solid black;
    border-radius: var(--radius);
}

// not supported yet
// @container callwindow (min-height: 500px) {
//     .livestreamlayout__speaker {
// 	display: none;
//     }
// }
