@use "../../sass/components/XXXuserlist";

.quickmenu {
}

.quickmenu__item {
    @extend .useritem;
}

.quickmenu__item__icon {
    height: 40px;
    width: 40px;
}

.quickmenu__item__label {
    @extend .useritem__name;
}

.quickmenu__item--active {
    @extend .useritem--active;
}

.quickmenu__item__actions {
    @extend .useritem__actions;
}

.quickmenu__item__actions__add {
    @extend .useritem__actions__green;
}


.quickmenu__item--has-plus {
    position: relative;

    &:hover {
	.quickmenu__item__plus {
	    opacity: 1;
	}
    }

    .quickmenu__item__plus {
	opacity: 0;
	position: absolute;
	right: 0.5rem;
	stroke-width: 1px;
	stroke: var(--color-lighter);
	transition: opacity .2s ease-in, background-color .2s ease-in, stroke .2s ease-in;
	border-radius: 100%;
	height: 2.5rem;
	width: 2.5rem;
	&:hover {
            background-color: rgba(31, 142, 31, 0.2);
            stroke: #128a12;
	}
    }
}
