%userlist {
}

%userlist__useritem {
    /* list item inside a userlist */
    /* from item */
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    margin: 0.2rem 0;
    padding: 0.7rem;

    border-radius: 10px;
    color: var(--color-lighter);

    &:hover {
        color: var(--color);
        background-color: var(--bg-userlist--hover);
        transition: background-color .2s ease-in, color .2s ease-in;
        cursor: pointer;
    }
}

%userlist__useritem__avatar {
    /* can be img or svg */
    /* from avatar */
    border-radius: 20%;
    height: 40px;
    width: 40px;
}

%userlist__useritem__name {
    font-size: 1rem;
}

%userlist__useritem__actions {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1rem;
    gap: 1rem;

    // svg is a single action aka. also the icon
    svg {
	padding: 0.3rem;
    }
}

%userlist__useritem__actions__default {
    stroke-width: 1px;
    stroke: var(--color-lighter);
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;

    &:hover {
	transition: background-color .2s ease-in, stroke .2s ease-in;
	background-color: rgba(var(--aurora--red--rgb), 0.2);
	stroke: var(--aurora--red)
    }

}

%userlist__useritem__actions__green {
    @extend %userlist__useritem__actions__default;
    &:hover {
	background-color: rgba(var(--aurora--green--rgb), 0.2);
	stroke: var(--aurora--green);
    }
}

%userlist__useritem__actions__red {
    @extend %userlist__useritem__actions__default;
    &:hover {
	background-color: rgba(var(--aurora--red--rgb), 0.2);
	stroke: var(--aurora--red);
    }
}

// %userlist__useritem__actions__placeholder {}

%userlist--hide-actions {
    @extend %userlist;
    %userlist__useritem__actions {
	opacity: 0;
    }

    %userlist__useritem:hover {
	%userlist__useritem__actions {
	    transition: opacity .2s ease-in;
	    opacity: 1;
	}
    }
}


