.settings {
    z-index: 5;
    position: absolute;
    font-family: interface;
    background-color: var(--bg);
    // backdrop-filter: blur(100px) brightness(0.5);
    animation: slide-settings .2s ease-in;
    color: var(--color);
    height: 100%;
    width: 100%;
    overflow: hidden;

    // make all blocks fill width
    display: flex;
    flex-direction: column;
    flex: 1;
}

.settings__closebutton {
    background-color: inherit;
}

.settings--scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.settings__heading {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

@keyframes slide-settings {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
