@use "../modules/selectable";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    overflow: hidden;
    font-family: interface;
}

#root {
    @extend .unselectable;
}
