/* fonts */
@font-face {
    font-family: chat;
    src: url(../../assets/fonts/chat/IBMPlexMono-Regular.ttf);
    // src: url("~@/assets/fonts/chat/IBMPlexMono-Regular.ttf"); // vite
}
@font-face {
    font-family: interface;
    src: url(../../assets/fonts/interface/OpenSans-Regular.ttf);
    // src: url("~@/assets/fonts/interface/OpenSans-Regular.ttf"); // vite
}

@font-face {
    font-family: hybaspace;
    src: url(../../assets/fonts/hybaspace/BebasNeue-Regular.ttf);
    // src: url("~@/assets/fonts/hybaspace/BebasNeue-Regular.ttf"); // vite
}
